<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Saídas</title>
  </head>
  <style>
    * {
      box-sizing: border-box;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      padding: 0;
      margin: 0;
    }

    body {
      font-size: small;
      height: 100%;
      width: 100%;
    }

    .body-report {
      align-items: center;
      display: flex;
      border-radius: 6px;
      color: <%=twColors.zinc[100] %>;
      flex-direction: column;
      height: 100%;
      width: 800px;
    }

    .header-report {
      align-items: center;
      border-radius: 6px 6px 0 0;
      display: flex;
      height: 64px;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    .logo-content {
      align-items: center;
      background-color: <%=twColors.white %>;
      border-radius: 6px 0 0 0;
      display: flex;
      height: 100px;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100px;
    }

    .logo {
      width: 85px;
    }

    .title-report {
      background-color: <%=twColors.yellow[300] %>;
      border-radius: 6px 6px 0 0;
      color: <%=twColors.zinc[900] %>;
      flex: 1 1 0%;
      font-size: 30px;
      font-weight: 700;
      height: 64px;
      line-height: 36px;
      text-align: center;
    }

    .subtitle-content {
      align-items: center;
      background-color: <%=twColors.yellow[300] %>;
      color: <%=twColors.zinc[900] %>;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .subtitle-content h2 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 600;
      line-height: 2rem;
    }

    .subtitle-content h3 {
      font-size: 1.125rem;
      font-style: italic;
      font-weight: 600;
      line-height: 1.75rem;
    }

    .subtitle-content h5 {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem;
    }

    .report-date {
      align-items: baseline;
      border-radius: 6px;
      color: <%=twColors.zinc[900] %>;
      display: flex;
      font-size: 1rem;
      font-style: italic;
      justify-content: flex-end;
      line-height: 1.5rem;
      padding: 2px 4px;
      width: 100%;
    }

    .report-date strong {
      margin-inline: 4px;
    }

    .main-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .table {
      font-size: smaller;
      width: 100%;
    }

    .table-title {
      background-color: <%=twColors.blue[600] %>;
      color: <%=twColors.zinc[100] %>;
      font-size: larger;
      font-weight: 600;
      line-height: 1.75rem;
      padding: 0 4px 0 4px;
      text-align: center;
      width: 100%;
    }

    .table-header {
      align-items: center;
      background-color: <%=twColors.zinc[900] %>;
      color: <%=twColors.zinc[100] %>;
      display: flex;
      font-weight: 600;
      justify-content: center;
      page-break-before: avoid;
      width: 100%;
    }

    .table-row-left,
    .table-row-right {
      display: flex;
      padding: 4px;
      page-break-before: avoid;
      width: 50%;
    }

    .table-row-left {
      justify-content: flex-start;
    }

    .table-row-right {
      justify-content: flex-end;
    }

    .table-row-content {
      align-items: center;
      color: <%=twColors.zinc[900] %>;
      display: flex;
      justify-content: center;
      page-break-before: avoid;
      width: 100%;
    }

    .sub-total-content {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      page-break-before: avoid;
    }

    .sub-total {
      align-items: center;
      background-color: <%=twColors.zinc[900] %>;
      color: <%=twColors.zinc[100] %>;
      display: flex;
      justify-content: flex-end;
      padding: 4px;
      width: 50%;
    }

    .total-content {
      align-items: center;
      background-color: <%=twColors.yellow[300] %>;
      color: <%=twColors.zinc[900] %>;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      justify-content: center;
      margin-top: 24px;
      width: 100%;
    }

    .total-content span {
      page-break-before: avoid;
    }
  </style>
  <body>
    <div class="body-report">
      <header class="header-report">
        <% if (logoSrc) { %>
          <div class="logo-content">
            <img src="<%= logoSrc %> " class="logo" alt="church logo" />
          </div>
          <% } %>
        <h1 class="title-report">
          Relatório de Saídas
        </h1>
      </header>
      <div class="subtitle-content">
        <h2><%= name %></h2>
        <h3><%=  foundationDate %></h3>
        <h5><%= cnpj %></h5>
        <h5><%= address %></h5>
        <h5><%= cep %></h5>
      </div>
      <div class="report-date">
        Relatório referente ao mês de <strong>
          <%= month %>
        </strong> de <strong>
          <%= year %>
        </strong>
      </div>
      <main class="main-content">
        <% expenseCategories.map(({ id: categoryId, name }) => { %>
          <div class="table">
            <div class="table-title">
              <%= name.toUpperCase() %>
            </div>
            <div class="table-header">
              <span class="table-row-left">TÌTULO</span>
              <span class="table-row-right">VALOR</span>
            </div>
            <% if (expenses.find(({ expenseCategoryId }) => expenseCategoryId === categoryId)) { %>
              <% expenses.filter(({ expenseCategoryId }) => expenseCategoryId === categoryId).map(({ id, title, value }) => { %>
                <div class="table-row-content">
                  <span class="table-row-left">
                    <%= title.toUpperCase() %>
                  </span>
                  <span class="table-row-right">
                    <%= (value).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'}) %>
                  </span>
                </div>
              <% }) %>
            <% } else { %>
              <div class="table-row-content">
                <span class="table-row-left">
                  &nbsp;
                </span>
                <span class="table-row-right">
                  <%= 0.0.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %>
                </span>
              </div>
            <% } %>
            <div class="sub-total-content">
              <span class="sub-total">
                TOTAL: <%= expenses.reduce((total, { expenseCategoryId, value }) => (
                  expenseCategoryId === categoryId ? total + value : total
                  ), 0).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'}) %>
              </span>
            </div>
          </div>
        <% }) %>
      </main>
      <div class="total-content">
        <span>
          TOTAL DE SAÍDAS
        </span>
        <span>
          <%= expenses.reduce((total, {value}) => total + value, 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %>
        </span>
      </div>
    </div>
  </body>
</html>
